@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-industrial-950 text-slate-100 overflow-hidden antialiased select-none font-sans;
  }
}

/* 自定义工业滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(17, 24, 39, 0.5);
}
::-webkit-scrollbar-thumb {
  background: rgba(75, 85, 99, 0.6);
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.8);
}